<!DOCTYPe html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
	{% for key, s_val in states.items()|sort(attribute='1.name') %}
		<LI> 
			{{ s_val.id }}: <B> {{ s_val.name }} </B>
			<UL>
			{% for city in s_val.cities|sort(attribute='name') %}
				{%- if city.state_id == s_val.id  -%}
				<LI>
					{{ city.id }}: <B> {{ city.name }} </B>
				</LI>
				{%- endif %}
			{%- endfor %}
			</UL>
		</LI>
	{%- endfor %}
	</UL>
    </BODY>
</HTML>
